/* Font Family
================================================== */

@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");


/* Desktop
================================================== */

.container { position:relative; margin:0 auto; width:700px; }
.column { width:inherit; }


/* Tablet (Portrait)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container { width:556px; }
}


/* Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
    .container { width:300px; }
}


/* Mobile (Landscape)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width:420px; }
}


/* CSS Reset
================================================== */

html,body,div,span,h1,h6,p,a,ul,li,audio {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body { line-height:1; }
ul { list-style:none; }


/* Basic Styles
================================================== */

html,body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    color:#C8C7C8;
    font:20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    padding:5px 0;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
.container{
    z-index: 9999;
}

/* Typography
================================================== */

h1,h6,p { color:#270d0d; font-weight:200; }
h1 { font-size:42px; line-height:44px; margin:20px 0 0; }
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* Highlight Styles */
::selection { background-color:#262223; color:#444; }


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { box-shadow:0 0 6px 1px rgba(0,0,0,.25); }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { position:relative; text-align:center; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:#231F20; cursor:pointer; display:block; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; display:inline-block; font-size:30px; margin:0; padding:21px 27px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }

/* IE 9 */
html[data-useragent*="MSIE 9.0"] audio { margin-left:9px; outline:none; width:680px; }
html[data-useragent*="MSIE 9.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="MSIE 9.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 9.0"] .plSel,
html[data-useragent*="MSIE 9.0"] .plSel:hover { background-color:#080808!important; }

/* IE 10 */
html[data-useragent*="MSIE 10.0"] audio { margin-left:6px; width:687px; }
html[data-useragent*="MSIE 10.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="MSIE 10.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 10.0"] .plSel,
html[data-useragent*="MSIE 10.0"] .plSel:hover { background-color:#080808!important; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { margin-left:2px; width:695px; }
html[data-useragent*="rv:11.0"] #audiowrap { background-color:#000; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="rv:11.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] #plList li { background-color:#000; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:#080808!important; }

/* All Apple Products */
html[data-useragent*="Apple"] audio { margin:0; width:100%; }
html[data-useragent*="Apple"] #audiowrap { background-color:#000; }
html[data-useragent*="Apple"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="Apple"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="Apple"] #plList li { background-color:#000; }
html[data-useragent*="Apple"] #plList li:hover { background-color:#080808; }
html[data-useragent*="Apple"] .plSel,
html[data-useragent*="Apple"] .plSel:hover { background-color:#080808!important; }

/* IOS 7 */
html[data-useragent*="OS 7"] body { color:#373837; }
html[data-useragent*="OS 7"] audio { margin-left:3px; width:690px; }
html[data-useragent*="OS 7"] #audiowrap { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] a[id^="btn"] { background-color:#e6e6e6; color:#373837; }
html[data-useragent*="OS 7"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="OS 7"] #plList li { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] #plList li:hover { background-color:#eee; }
html[data-useragent*="OS 7"] .plSel,
html[data-useragent*="OS 7"] .plSel:hover { background-color:#eee!important; }

/* IOS 8 */
html[data-useragent*="OS 8"] body { color:#373837; }
html[data-useragent*="OS 8"] audio { margin-left:6px; width:694px; }
html[data-useragent*="OS 8"] #audiowrap { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] a[id^="btn"] { background-color:#e4e4e4; color:#373837; }
html[data-useragent*="OS 8"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="OS 8"] #plList li { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] #plList li:hover { background-color:#eee; }
html[data-useragent*="OS 8"] .plSel,
html[data-useragent*="OS 8"] .plSel:hover { background-color:#eee!important; }

/* IOS 9 */
html[data-useragent*="OS 9"] body { color:#373837; }
html[data-useragent*="OS 9"] audio { margin-left:6px; width:694px; }
html[data-useragent*="OS 9"] #audiowrap { background-color:#d5d5d5; }
html[data-useragent*="OS 9"] a[id^="btn"] { background-color:#d5d5d5; color:#373837; }
html[data-useragent*="OS 9"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="OS 9"] #plList li { background-color:#d5d5d5; }
html[data-useragent*="OS 9"] #plList li:hover { background-color:#eee; }
html[data-useragent*="OS 9"] .plSel,
html[data-useragent*="OS 9"] .plSel:hover { background-color:#eee!important; }

/* Chrome */
html[data-useragent*="Chrome"] body { color:#5a5a5a; }
html[data-useragent*="Chrome"] audio { margin-left:9px; width:677px; }
html[data-useragent*="Chrome"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:#fafafa; color:#5a5a5a; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#eee!important; }

/* Chrome / Android / Tablet */
html[data-useragent*="Chrome"][data-useragent*="Android"] body { color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:689px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"] { background-color:#fafafa; color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel,
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel:hover { background-color:#eee!important; }


/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    audio { width:526px; }
    html[data-useragent*="MSIE 9.0"] audio { width:536px; }
    html[data-useragent*="MSIE 10.0"] audio { width:543px; }
    html[data-useragent*="rv:11.0"] audio { width:551px; }
    html[data-useragent*="OS 7"] audio { width:546px; }
    html[data-useragent*="OS 8"] audio { width:550px; }
    html[data-useragent*="OS 9"] audio { width:550px; }
    html[data-useragent*="Chrome"] audio { width:533px; }
    html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:545px; }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    audio { width:390px; }
    html[data-useragent*="MSIE 9.0"] audio { width:400px; }
    html[data-useragent*="MSIE 10.0"] audio { width:407px; }
    html[data-useragent*="rv:11.0"] audio { width:415px; }
    html[data-useragent*="OS 7"] audio { width:410px; }
    html[data-useragent*="OS 8"] audio { width:414px; }
    html[data-useragent*="OS 9"] audio { width:414px; }
    html[data-useragent*="Chrome"] audio { width:397px; }
    html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:410px; }
    #npTitle { width:245px; }
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
    audio { width:270px; }
    html[data-useragent*="MSIE 9.0"] audio { width:280px; }
    html[data-useragent*="MSIE 10.0"] audio { width:287px; }
    html[data-useragent*="rv:11.0"] audio { width:295px; }
    html[data-useragent*="OS 7"] audio { width:290px; }
    html[data-useragent*="OS 8"] audio { width:294px; }
    html[data-useragent*="OS 9"] audio { width:294px; }
    html[data-useragent*="Chrome"] audio { width:277px; }
    html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:290px; }
    #npTitle { width:167px; }
}

/*svg*/
svg {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#Reflections,
#Sun {
    -webkit-animation: flicker 2s infinite;
    animation: flicker 2s infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    opacity: 0.8;
}

#_x3C_Leaf4_x3E_,
#_x3C_Leaf3_x3E_,
#_x3C_Leaf2_x3E_,
#_x3C_Leaf1_x3E_ {
    -webkit-animation: sway2 4s infinite;
    animation: sway2 4s infinite;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#_x3C_Leaf1_x3E_ {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s;
}

#_x3C_Leaf2_x3E_ {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s;
}

#_x3C_Leaf3_x3E_ {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
}

#_x3C_Leaf4_x3E_ {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
}

#_x3C_Leaf6_x3E_,
#_x3C_Leaf5_x3E_,
#_x3C_Leaf8_x3E_,
#_x3C_Leaf7_x3E_ {
    position: relative;
    -webkit-transform-origin: 0, 0;
    transform-origin: 0, 0;
    -webkit-animation: sway 5s infinite;
    animation: sway 5s infinite;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#_x3C_Leaf6_x3E_ {
    -webkit-animation-delay: -.25s;
    animation-delay: -.25s;
}

#_x3C_Stem4_x3E__2_,
#_x3C_Stem3_x3E_,
#_x3C_Stem2_x3E_,
#_x3C_Stem1_x3E_ {
    -webkit-animation: plant 4s infinite;
    animation: plant 4s infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#_x3C_Bush_x3E_ {
    -webkit-animation: bush 8s infinite;
    animation: bush 8s infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#_x3C_leaf_x3E__5_,
#_x3C_leaf_x3E__3_,
#_x3C_leaf_x3E__8_ {
    -webkit-animation: leaves 2s infinite;
    animation: leaves 2s infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#_x3C_leaf_x3E__3_ {
    -webkit-animation-delay: -2.25s;
    animation-delay: -2.25s;
}

#_x3C_leaf_x3E__8_ {
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
}

#_x3C_Stem4_x3E__2_ {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

#_x3C_Stem3_x3E_ {
    -webkit-animation-delay: -2.25s;
    animation-delay: -2.25s;
}

#_x3C_Stem3_x3E_ {
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
}

#_x3C_Stem3_x3E_ {
    -webkit-animation-delay: -2.75s;
    animation-delay: -2.75s;
}

#Clouds_1_ {
    position: relative;
    -webkit-transform-origin: 0, 0;
    transform-origin: 0, 0;
    -webkit-animation: clouds 15s 1;
    animation: clouds 15s 1;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

#_x3C_Hammock_x5F_Group_x3E_ {
    position: relative;
    -webkit-animation: hammock 3s infinite;
    animation: hammock 3s infinite;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
    transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
}

#_x3C_FrontSarong_x3E_ {
    -webkit-transform: translateZ(300px) rotateX(0deg);
    transform: translateZ(300px) rotateX(0deg);
}

#_x3C_BackSarong_x3E_ {
    -webkit-transform: translateZ(-300px) rotateX(-30deg) translateY(20px);
    transform: translateZ(-300px) rotateX(-30deg) translateY(20px);
}

#_x3C_UpArm_x3E_ {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

@-webkit-keyframes clouds {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@keyframes clouds {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@-webkit-keyframes sway {
    0% {
        -webkit-transform: translateY(-10px) rotate(0deg);
        transform: translateY(-10px) rotate(0deg);
        -webkit-transform-origin: 0%, 0%;
        transform-origin: 0%, 0%;
    }
    50% {
        -webkit-transform-origin: 50%, 50%;
        transform-origin: 50%, 50%;
        -webkit-transform: rotate(-5deg) translateY(30px) translateX(-5px);
        transform: rotate(-5deg) translateY(30px) translateX(-5px);
    }
}
@keyframes sway {
    0% {
        -webkit-transform: translateY(-10px) rotate(0deg);
        transform: translateY(-10px) rotate(0deg);
        -webkit-transform-origin: 0%, 0%;
        transform-origin: 0%, 0%;
    }
    50% {
        -webkit-transform-origin: 50%, 50%;
        transform-origin: 50%, 50%;
        -webkit-transform: rotate(-5deg) translateY(30px) translateX(-5px);
        transform: rotate(-5deg) translateY(30px) translateX(-5px);
    }
}
@-webkit-keyframes sway2 {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
        -webkit-transform-origin: 0%, 0%;
        transform-origin: 0%, 0%;
    }
    50% {
        -webkit-transform-origin: 50%, 50%;
        transform-origin: 50%, 50%;
        -webkit-transform: rotate(-5deg) translateY(10px) translateX(-5px);
        transform: rotate(-5deg) translateY(10px) translateX(-5px);
    }
}
@keyframes sway2 {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
        -webkit-transform-origin: 0%, 0%;
        transform-origin: 0%, 0%;
    }
    50% {
        -webkit-transform-origin: 50%, 50%;
        transform-origin: 50%, 50%;
        -webkit-transform: rotate(-5deg) translateY(10px) translateX(-5px);
        transform: rotate(-5deg) translateY(10px) translateX(-5px);
    }
}
@-webkit-keyframes hammock {
    0% {
        -webkit-transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
        transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
    }
    50% {
        -webkit-transform: rotateX(10deg) translateX(-5px) translateY(1px) skewX(1deg);
        transform: rotateX(10deg) translateX(-5px) translateY(1px) skewX(1deg);
    }
}
@keyframes hammock {
    0% {
        -webkit-transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
        transform: rotateX(-10deg) translateX(-5px) translateY(-1px) skewX(-1deg);
    }
    50% {
        -webkit-transform: rotateX(10deg) translateX(-5px) translateY(1px) skewX(1deg);
        transform: rotateX(10deg) translateX(-5px) translateY(1px) skewX(1deg);
    }
}
@-webkit-keyframes plant {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(5deg) translateX(10px) translateY(-9px) skewX(2deg);
        transform: rotate(5deg) translateX(10px) translateY(-9px) skewX(2deg);
    }
}
@keyframes plant {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(5deg) translateX(10px) translateY(-9px) skewX(2deg);
        transform: rotate(5deg) translateX(10px) translateY(-9px) skewX(2deg);
    }
}
@-webkit-keyframes bush {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(3deg) translateX(5px) translateY(0px) skewX(2deg);
        transform: rotate(3deg) translateX(5px) translateY(0px) skewX(2deg);
    }
}
@keyframes bush {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(3deg) translateX(5px) translateY(0px) skewX(2deg);
        transform: rotate(3deg) translateX(5px) translateY(0px) skewX(2deg);
    }
}
@-webkit-keyframes leaves {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(-3deg) translateX(-14px) translateY(0px) skewX(1deg);
        transform: rotate(-3deg) translateX(-14px) translateY(0px) skewX(1deg);
    }
}
@keyframes leaves {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px) skewX(0deg);
        transform: rotate(0deg) translateY(0px) skewX(0deg);
    }
    50% {
        -webkit-transform: rotate(-3deg) translateX(-14px) translateY(0px) skewX(1deg);
        transform: rotate(-3deg) translateX(-14px) translateY(0px) skewX(1deg);
    }
}
@-webkit-keyframes flicker {
    0% {
        -webkit-transform: translateX(0px) skewX(0deg);
        transform: translateX(0px) skewX(0deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateX(-9px) skewX(1deg) scale(1.05, 1);
        transform: translateX(-9px) skewX(1deg) scale(1.05, 1);
        opacity: 1;
    }
}
@keyframes flicker {
    0% {
        -webkit-transform: translateX(0px) skewX(0deg);
        transform: translateX(0px) skewX(0deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateX(-9px) skewX(1deg) scale(1.05, 1);
        transform: translateX(-9px) skewX(1deg) scale(1.05, 1);
        opacity: 1;
    }
}
